@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archive-webfont.woff2') format('woff2'),
    url('../fonts/archive-webfont.woff') format('woff'),
    url('../fonts/archive-webfont.ttf') format('truetype'),
    url('../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Large desktop */
@media (min-width: 1200px) {
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;  
        padding-right: 300px;
    }
    #htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    #htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    #about-tile{
        height:175px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;  
        padding-right: 250px;
    }
    #htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    #htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #about-tile{
        height:90px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        padding-left: 70px;  
        padding-right: 200px;
    }
    #htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    #htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 75px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    #htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 75px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        padding-left: 70px;  
        padding-right: 100px;
    }
    #htmlDiv{
        margin:0px;
        padding-left: 25px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    #htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 37px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    #htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 37px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

body{

    background: rgb(52,50,54);
    padding-top: 10px;
    font-family:archiveregular, san-serif;
}

.home-bg{
    /*background: rgb(52,50,54);*/
}

#home{
    padding-top:5%;
}

.title{
    text-align:center;
    height:175px;
}


#about-tile{

    background-color: rgb(210,181,146);
>>>>>>> 464293539612e1605bc23d8ba6eb4aa5ee5b2d5a
}

#intro{
    text-align:center;
    position:relative;
}

.tile{
    padding:0;
}

.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}
#body{
background-color: white;

}
#htmlDiv{

    margin-top: -10px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:white;
    font-size:50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}