@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archive-webfont.woff2') format('woff2'),
    url('../fonts/archive-webfont.woff') format('woff'),
    url('../fonts/archive-webfont.ttf') format('truetype'),
    url('../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background: #000;
    padding-top: 10px;
}

#intro{
    text-align:center;
    position:relative;
}


.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}

.course-box{


}

.circle{
    color: black;
    font-size: 18px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    z-index: -1; position:relative
}

#python-course{
    background-color: #66B58C;
}

#cplusplus-course{
    background-color: #66B58C;
}

#webdev-course{
    background-color: #66B58C;
}

#java-course{
    background-color: #66B58C;
}

#unity-course{
    background-color: #66B58C;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:white;
    font-size:50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
