@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archive-webfont.woff2') format('woff2'),
    url('../fonts/archive-webfont.woff') format('woff'),
    url('../fonts/archive-webfont.ttf') format('truetype'),
    url('../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Large desktop */
@media (min-width: 1200px) {
    #home{
        padding-top:3.9%;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;  
        padding-right: 300px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }

    #aboutInfo{
        height:80px;
    }

    /* Contact us page */
    .emailBar{
        font-size:50px;
    }

   .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 30px;
        padding-left: 100px;
        font-size: 150px;
        text-align: left;
        color:black;
        background: rgb(210,181,146);
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    #home{
        padding-top:3.9%;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }
    #aboutInfo{
        height:80px;
    }


    /* Contact us page */
    .emailBar{
        font-size:40px;
        text-align: center;
    }

    .icon{
        height:40px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 60px;
        padding-left: 100px;
        font-size: 90px;
        text-align: left;
        color:black;
        background: rgb(210,181,146);
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;  
        padding-right: 250px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #home{
        padding-top:5%;
    }
    #welcome{
        font-size:20px;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }
    #contact-tile{
        font-size:20px;
    }

    #aboutInfo{
        height:40px;
    }

    /* Contact us page */
    .emailBar{
        font-size:50px;
        text-align: center;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 60px;
        padding-left: 50px;
        font-size: 80px;
        text-align: left;
        color:black;
        background: rgb(210,181,146);
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        padding-left: 70px;  
        padding-right: 150px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 75px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 75px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #home{
        padding-top:5%;
    }
    #welcome{
        font-size:15px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        padding-left: 70px;  
        padding-right: 100px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 25px;
        border:0px; 
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 37px;
        color: white;
        margin-top: 0px;  
        padding-left: 65px;

    }
    .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 37px;
        color: white;
        margin-top: 0;
        padding-left: 65px;
    }
    .tile{
        padding-top:30% !important;
        padding-bottom:30% !important;
    }
    #contact-tile{
        font-size:20px;
    }
    #aboutInfo{
        height:40px;
    }

    /* Contact us page */
    .emailBar{
        font-size:50px;
        text-align: center;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:250px;
        padding-top: 30px;
        padding-left: 20px;
        font-size: 80px;
        text-align: left;
        color:black;
        background: rgb(210,181,146);
    }
}

body{
    background: rgb(52,50,54);
    font-family:archiveregular, san-serif;
}

p{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    opacity:3 !important;
}

a:hover{
    text-decoration: none;
}

.shaded{
    width:100%;
    height:100%;
    background-color: #204d74 !important;
    cursor:pointer;
}

.home-sec-title{
    text-align:center;
    margin:5%;
}

#girlsTalking{
    float:left;
    width:40%;
    margin-right:5%;
    height:auto;
}

.tile{
    margin-top:2%;
    padding:0;
    text-align:center;
    position: relative;
    color:white;
}

.home-mission{
    background-color:white;
    padding-bottom:5%;
    padding-top:5%;
    line-height: 200%;
}

.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}

#intro{
    text-align:center;
    padding:0;
    margin:0;
    color:white;
}

.row{
    margin:0;
    padding:0;
}

#about-tile{
    position:relative;
}


#aboutInfo{
    position: absolute;
    padding:1%;
    background-color: white;
    z-index: 2;
    opacity: .6;
    font-size:22px;
    height:80px;
    width:0;
}

.abt{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.home-abt{
    padding-top:5%;
    padding-bottom:2%;
    color:rgb(52,50,54);
    font-size:50px;
    text-align:center;
}

.footer{
    padding: 8% 15% 5% 13%;
    color:white;
}

.footer-title{
    color:white;
}

#contact-tile{
    background-color: rgb(210,181,146);
}

#register-tile{
    background-color: rgb(45,99,99);
}

#blog-tile{
    background-color: rgb(202,131,108);
}

#courses-tile{
    background-color: rgb(61,125,147);
}

#intro{
    text-align:center;
    position:relative;
}

.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}



#java{
    background-color: #353070;
    color:white;
}
#body{
background-color: white;
padding-top:0px;
}
#python{
    color:#FFD03F;
    background-color: #3773A7;
}
#html{
    background-color:#F66337;
    color:white;
}
#creamColor{
  /*  background-color: #EEE3C3; ---> cream color */
    background-color: #E9EAED;  /*  ---> messenger chat color    */
    padding-left: 45px;
}
.coveredTopics{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 100px;
}
.footers{
    text-align: right;
    margin-top: -10px;
    margin-bottom: 0px;
}
#footersPython{
    text-align: right;
    margin-bottom: 0px;
    color:#FFD03F;
    background-color: #3773A7;
    padding-right: 50px;

}
#footersJava{
    text-align: right;
    margin-bottom: 0px;
    background-color: #353070;
    color:white;
    padding-right: 50px;
}
#footersHtml{
    text-align: right;
    margin-bottom: -5px;
    background-color:#F66337;
    color:white;
    padding-right: 50px;
}
#htmlDiv{
    margin-top: -10px;
}







.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:white;
    font-size:50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}